@use "../abstract/mixins";
@use "../abstract/variables";

body {
  background-color: variables.$body-bg-color;

  .container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    background-color: variables.$container-card-color;
    border-radius: 10px;
  }
}

.hidden {
  display: none;
}
